:local {
  .app {
    width: 100vw;
    height: 100vh;
    display: flex;
  }
  .leftPanel {
    flex: 1;
    flex-basis: 50%;
  }
  .rightPanel {
    flex: 1;
    flex-basis: 50%;
  }
}

:global {
  .highlight-marker {
    position: absolute;
    background: yellow;
  }
}